/* font-family: 'VT323', ;
font-family: 'Share Tech Mono', ;
font-family: 'Anonymous Pro', ;
font-family: 'Cutive Mono', ; */


* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono';
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.shapewrapper {
  justify-content: flex-start;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  margin: 20px;
}

.cell {
  width: 10%;
  height: 10%;
  border: 1px solid green;
}

.ghost {
  opacity: 0.6;
}

.squareshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: yellow;
}

.lshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: palevioletred;
}

.jshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: orange;
}

.tshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: purple;
}

.sshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: red;
}

.zshape {
  border: 1px solid rgba(0,0,0,0.5);
  background-color: green;
}

.ishape {
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgb(136, 10, 73)
}

.fixed {
  color: black;
  opacity: 0.8;
}




.squaredisplay {
  height: 100px;
  width: 100px;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 3px;
}